.head-line-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.icon-button {
   padding: 8px 9px 9px;
   margin-top: 5px;
}
.icon-button:hover {
   background-color: beige;
}
.hide {
   display: none;
}
.search-button {
   border: 1px solid cadetblue;
   border-radius: 10%;
   background: cadetblue;
}
.head-line {
   margin-top: 1em;
   display: flex;
   justify-content: center;
}
.head-line svg {
   width: 430px;
}
.logobtn {
   border: none;
   background: none;
}
.menus {
   margin-top: 1em;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   border-top: 1px solid #ebebeb;
   border-bottom: 4px double black;
}
.menus button {
   border: none;
   background: none;
   margin: 5px;
}
.menus button:hover {
   background-color: beige;
}
.news-img-size {
   max-width: 100%;
   max-height: 250px;
}

.news {
   border-bottom: 2px solid black;
}

.side-menu {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(207, 204, 199);
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}
.side-menu-list button {
   margin: 5px;
   border: none;
   background: none;
   width: 120px;
}

.side-menu .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   border: none;
   background: none;
}
.side-menu-list {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.side-menu-list button:hover {
   background-color: beige;
   border-radius: 3px;
}
.search-button {
   background-color: rgb(86, 123, 149);
   border: 1px solid rgb(50, 104, 145);
   color: rgb(255, 255, 255);
   height: 33px;
   border-radius: 3px;
}
#search-input {
   border: 1px solid rgb(226, 226, 226);
   border-radius: 3px;
   height: 33px;
}

#input-area {
   display: none;
}

@media screen and (max-width: 63rem) {
   .hide {
      display: inline;
   }
   .menus {
      display: none;
   }
   .head-line-section {
      margin-bottom: 1em;
   }
   .head-line svg {
      width: 300px;
   }
}
.pagination-nav {
   display: flex;
   justify-content: center;
}
.pagination {
   margin-top: 1em;
}
.page-item.active .page-link {
   background-color: black;
   color: white;
   border-color: black;
}
.page-link {
   color: black;
}
.col-lg-8 {
   margin-top: 1em;
}
