/* 모바일 버전에서도 확인할 수 있는 반응형 웹이다. */
body {
   margin: 0;
   /* body 기본 margin: 8px;설정되어있음 */
   background-image: url(images/background.webp);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   background-color: white;
   min-height: 100vh;
   /* vh:내가 보는 화면의 하이트 100vh=100% */
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input-area {
   display: flex;
   justify-content: space-between;
}
.task-area {
   border: 1px solid lightgray;
}

.task-tabs {
   display: flex;
   border-bottom: 1px solid lightgray;
   position: relative;
   align-items: center;
}

nav a {
   padding: 1em;
   font-size: 1.5em;
   font-weight: bolder;
   text-decoration: none;
   color: black;
}

#under-line {
   height: 4px !important;
   background-color: pink;
   position: absolute;
   width: 0px;
   top: 0px;
   left: 0px;
   padding: 0px;
   /* transition: 0.5s; */
}

.task {
   display: flex;
   justify-content: space-between;
   padding: 1em;
}
.task-done2 {
   background-color: lightgray;
}
.task-done {
   text-decoration: line-through;
}
