/* 모바일 버전에서도 확인할 수 있는 반응형 웹이다. */
body {
   margin: 0;
   /* body 기본 margin: 8px;설정되어있음 */
   background-image: url(images/bg8.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   background-color: rgba(209, 141, 171, 0.64);
   min-height: 100vh;
   /* vh:내가 보는 화면의 하이트 100vh=100% */
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   font-family: 'Orbit', sans-serif;
}
.top {
   display: flex;
   justify-content: space-between;
}
.top h1 {
   margin-top: 1em;
   font-family: 'Orbit', sans-serif;
   font-weight: bolder;
   text-shadow: 1px 1px 1px lightgray;
}
.top > .today {
   display: flex;
   justify-content: space-between;
   margin-top: 3em;
}
.today i {
   margin-top: 2px;
   padding-top: 15px;
   padding-right: 10px;
   text-shadow: 1px 1px 1px white;
}
.today > p {
   font-size: 1.5rem;
   text-shadow: 1px 1px 1px lightgray;
}
.input-area {
   display: flex;
   justify-content: space-between;
}

.task-area {
   margin-top: 1em;
   border: 1px solid lightgray;
   background-color: #fff;
}

.task-tabs {
   display: flex;
   border-bottom: 1px solid lightgray;
   position: relative;
   align-items: center;
   font-family: 'Orbit', sans-serif;
}

nav div {
   padding: 1em;
   font-size: 1.5em;
   font-weight: bolder;
   text-decoration: none;
   color: black;
}

#under-line {
   height: 4px !important;
   background-color: rgb(50, 96, 222);
   position: absolute;
   width: 80px;
   top: 80px;
   left: 0px;
   padding: 0px;
   /* transition: 0.5s; */
}
.task {
   display: flex;
   justify-content: space-between;
   padding: 1em;
}
.task-done-box {
   background-color: lightgray;
}
.task-done {
   text-decoration: line-through;
}
.task-tabs div {
   cursor: pointer;
}

.task {
   border-bottom: 1px solid lightgray;
   font-family: 'Orbit', sans-serif;
   font-size: 1.5rem;
}
#task-board button {
   border: none;
   background-color: transparent;
}

/* how to change cursor on div tag css 구글링 */

@media (max-width: 768px) {
   .top {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .top .today {
      margin-top: 0.5em;
      text-align: center;
      font-size: 0.8rem;
   }
   .top .today p {
      font-size: 1.3rem;
   }
   .input-area input {
      margin-right: 0.5em;
   }
   .input-area input::placeholder {
      color: rgb(12, 123, 214);
      content: '할 일 입력하기 💬';
   }
}
